<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multiplayer Demo</title>
    <style>
        body { margin: 0; overflow: hidden;}
		canvas { background: #111; display: block; }
    </style>
</head>
<body>
    <p style="text-align: left;">
        {% if user.is_authenticated %}
            {% include "core/header.html" with room_id=None next_url="/" %}
        {% else %}
            &emsp; You are not logged in. &emsp;
            <a href="{% url 'login' %}">Log In</a> &emsp;
            <a href="{% url 'signup' %}">Sign Up</a> &emsp;
        {% endif %}
    </p>

    {% load static %}
    <canvas id="game"></canvas>

	<script id="user-config" type="application/json">
	{
		"colour": "{% if user.is_authenticated %}{{ user.userprofile.colour_preference }}{% else %}{{ DEFAULT_COLOUR }}{% endif %}"
	}
	</script>

	<script>
		const room_id = "global";
	</script>
	
	<script src="{% static 'core/game.js' %}"></script>
</body>
</html>
