<h2>User Preferences</h2>

{% include "core/header.html" with next_url=request.GET.next %}

<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">

    <label for="colour_preference">Default Colour Preference:</label>

    <select id="colour_preference" name="colour_preference">
        {% for value, label in colour_choices %}
            <option value="{{ value }}" {% if profile.colour_preference == value %}selected{% endif %}>
                {{ label }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Save</button>
</form>

<br>

<a href="{{ request.GET.next }}">Back</a>
&emsp; / &emsp;
<a href={% url 'index' %}>Home</a>
